@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


body {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    /*
    Medidadas Absolutas
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh, %
    16px = 1em
    */
    font-size: 1em;
    font-weight: normal;
    /*lighter, normal, bold, bolder, 100 - 900 */
    font-style: normal;
    text-decoration: none;
}

h1 {
    /* Shorthand font
    font-style, font-weight, font-size, font-family */
    
    font: italic bolder 3em 'Work Sans', sans-serif;
}